*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.container {
  width: min(1500px, 100% - 1rem);
  margin-inline: auto;
}

.header {
  padding-block: 30px;
  border-bottom: 1px solid #E0E2FC;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px;
}
.nav__list .list__link {
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #181C50;
}

.toolbar {
  display: flex;
  gap: 12px;
  align-items: center;
}
.toolbar .toolbar__list {
  display: flex;
  align-items: center;
  gap: 12px;
}
.toolbar .toolbar__list .toolbar__list__item {
  padding: 12px;
  border: 1px solid #D1D2E7;
  border-radius: 12px;
}
.toolbar .toolbar__btn {
  padding: 15px 25px;
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #525BC6;
  border: 1px solid #6670EE;
  box-shadow: 0px 12px 19px rgba(93, 110, 171, 0.12);
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;
}

.hero__box {
  -webkit-padding-before: 70px;
          padding-block-start: 70px;
  -webkit-padding-after: 150px;
          padding-block-end: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hero__box .hero__info {
  max-width: 610px;
}

.hero__title {
  font-family: "Hepta Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.02em;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}
.hero__title span {
  font-family: "Hepta Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.02em;
}

.hero__text {
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #3F415C;
  -webkit-padding-after: 100px;
          padding-block-end: 100px;
}

.hero__btn-us {
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 21px 41px;
  background: #6670EE;
  border: 2px solid #6670EE;
  box-shadow: 0px 12px 30px rgba(14, 68, 152, 0.15);
  border-radius: 12px;
  -webkit-margin-end: 50px;
          margin-inline-end: 50px;
  position: relative;
}
.hero__btn-us::after {
  content: "";
  display: block;
  background-color: hsl(237, 31%, 86%);
  width: 1px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: -35px;
}

.hero__box-btn {
  display: flex;
  align-items: center;
}

.hero__btn-watch {
  font-family: "ITC Avant Garde Gothic Std";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1A1A29;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero__btn-watch::before {
  content: "";
  display: block;
  background-image: url(/images/hero/Group.svg);
  width: 44px;
  height: 29px;
}

.hero__img {
  max-width: 553px;
  position: relative;
}
.hero__img::before {
  content: "";
  display: block;
  border: 1px solid #D1D2E7;
  border-radius: 30px;
  width: 197px;
  height: 197px;
  position: absolute;
  left: -70px;
  top: -50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.hero__img::after {
  content: "";
  display: block;
  background-image: url(/images/hero/heroimgfone.png);
  width: 480px;
  height: 480px;
  position: absolute;
  bottom: -200px;
  left: -130px;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */